<div class="ui container">
  <div class="ui grid">

    <div class="ui one wide column">
      <div id="dash">
        <div class="ui left fixed inverted vertical pointing menu">
          <div class="header item">
            Complexe Al ouafae
          </div>
          <a class="active teal item">
            <div class="ui small red label">2</div>
            <i class="gamepad icon"></i> Home
          </a>
          <a class="item">
            <div class="ui small red label">2</div>
            <i class="ui-icon-check icon"></i> Messages
          </a>
          <a class="item">
            <div class="ui small red label">2</div>
            <i class="favorite icon"></i> Friends
          </a>
        </div>
      </div>
    </div>
    <div class="ui fifteen wide column">
      <div class="ui three cards">

        <a class="teal card">
          <div class="image">
            <img src="assets/images/dash-users.png">
          </div>
          <!--<div class="text-carte">Users</div>-->
        </a>
        <a class="teal card">
          <div class="image">
            <img src="assets/images/dash-verification.png">
            <!--<div class="text-carte">Stock</div>-->
          </div>
        </a>
        <a class="teal card">
          <div class="image">
            <img src="assets/images/dash-inventory.png" [routerLink]="['/inventory']">
            <!--<div class="text-carte">Inventaires</div>-->
          </div>
        </a>

      </div>
    </div>
  </div>
</div>
