/* You can add global styles to this file, and also import other style files */
body {
  background: #F0DFD0
}

#left-menu {
  margin-top: 42px;
  height: 100%;
  box-shadow: 0px 1px 6px;
}
.container {
  margin-left: 60px;
}
